# This notebooks gives details about handling Text data :
    - Kaggle Spooky Author identification dataset/competence is discussed here 
   - [Link](https://www.kaggle.com/c/spooky-author-identification)

### Categorical Data :
- Datasets having alphabets, words etc... are considered to be Categorical data
- Most machine learning algorithms needs numeric data for better performance
- Converting those text/categorical data into numeric data is called text data encoding
- here lets see popular techniques used for it

### Data Cleaning :
- Datasets having categorical data may have some additional less important words.
- Removing those less import words is Data Cleaning

### Data Encoding :
- After Data cleaning, the cleaned data is converted into numeric data 
- this is called Data encoding 

### Categorical Data Pre-processing :
- Data Cleaning followed by Data Encoding is Categorical Data Preprocessing

In [1]:
%matplotlib inline 
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading Dataset and First Look

In [2]:
# Setting Path
Curr_Dir = os.path.dirname(os.getcwd())
data_path = os.path.join(Curr_Dir , 'Datasets\Author_Identification')
sample = os.path.join(data_path, 'sample_submission.csv')
train = os.path.join(data_path, 'train.csv')
test = os.path.join(data_path, 'test.csv')

# Loading Data
Sample_Data = pd.read_csv(sample)
Train_Data = pd.read_csv(train)
Test_Data = pd.read_csv(test)

In [3]:
Train_Data.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [4]:
Test_Data.head()

        id                                               text
0  id02310  Still, as I urged our leaving Ireland with suc...
1  id24541  If a fire wanted fanning, it could readily be ...
2  id00134  And when they had broken down the frail door t...
3  id27757  While I was thinking how I should possibly man...
4  id04081  I am not sure to what limit his knowledge may ...

In [61]:
Train_Data.author.value_counts(normalize=True).values
Train_Data.author.value_counts(normalize=True).index

Index(['EAP', 'MWS', 'HPL'], dtype='object')

In [55]:
for i , j, in Train_Data.groupby('author'):
    print(type(i))
    print(j.shape[0])

<class 'str'>
7900
<class 'str'>
5635
<class 'str'>
6044

# Questions:

    1. Should Data cleaning for categorical data be applied to Test/predication dataset as well ?
    2. Can text data be cleaned/preprocessed only with NLP ?
    3. What are methods of Text Data Encoding
    4. 
   

# Kaggle Links :
- [Text Based Feature Engineering](https://www.kaggle.com/lalitparihar44/detailed-text-based-feature-engineering/notebook)
- [Author Identification Competition](https://www.kaggle.com/c/spooky-author-identification/data)